appdirs==1.4.4
apturl==0.5.2
asttokens==3.0.0
attrs==21.2.0
bcrypt==3.2.0
beniget==0.4.1
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
certifi==2020.6.20
chardet==4.0.0
click==8.2.1
colorama==0.4.4
comm==0.2.3
cpuset==1.6
cryptography==3.4.8
cuda-bindings==13.0.1
cuda-pathfinder==1.2.1
cuda-python==13.0.1
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.8.16
decorator==5.2.1
defer==1.0.6
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
duplicity==0.8.21
exceptiongroup==1.3.0
executing==2.2.1
fasteners==0.14.1
filelock==3.19.1
Flask==3.1.2
fonttools==4.29.1
fs==2.4.12
fsspec==2025.9.0
future==0.18.2
gast==0.5.2
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
ipykernel==6.30.1
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jetson.GPIO==2.1.7
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==3.0.2
matplotlib==3.5.1
matplotlib-inline==0.1.7
ml_dtypes==0.5.3
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
nvidia-cuda-runtime-cu12==12.9.79
nvidia-pyindex==1.0.9
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
onnx==1.19.0
opencv-python==4.12.0.88
packaging==25.0
pandas==1.3.5
paramiko==2.9.3
parso==0.8.5
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
ply==3.11
polars==1.32.3
prompt_toolkit==3.0.52
protobuf==6.32.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycairo==1.20.1
pycuda==2025.1.1
pycups==2.0.1
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyRFC3339==1.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
pythran==0.10.0
pytools==2025.2.3
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==27.0.2
requests==2.25.1
scipy==1.8.0
SecretStorage==3.3.1
siphash24==1.8
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
systemd-python==234
tensorrt==10.3.0
tensorrt_dispatch==10.3.0
tensorrt_lean==10.3.0
torch @ file:///home/wonmin/project/hand_keypoints_detection/torch-2.3.0-cp310-cp310-linux_aarch64.whl
torchvision @ file:///home/wonmin/project/hand_keypoints_detection/torchvision-0.18.0a0%2B6043bc2-cp310-cp310-linux_aarch64.whl
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ultralytics==8.3.187
ultralytics-thop==2.0.16
unicodedata2==14.0.0
urllib3==1.26.5
urwid==2.1.2
virtualenv==20.13.0+ds
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.1.3
xdg==5
xkit==0.0.0
zipp==1.0.0
